@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

@mixin footerHeader($width, $border: 0 0 5px 5px) {
  height: 100px;
  width: $width;
  background-color: $primary;
  border-radius: $border;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fff;
  font-family: "Source Sans Pro", sans-serif;
}
.content {
  max-width: 940px;
  margin: auto;
  .header {
    display: flex;
    gap: 19px;
    .header-left {
      @include footerHeader(30vw);
    }
    .header-right {
      @include footerHeader(70vw);
    }
  }
  .main {
    display: flex;
    margin-top: 150px;
    margin-left: -400px;
  }
  .footer {
    @include footerHeader(100vw, 5px 5px 0 0);
    max-width: 940px;
    position: fixed;
    bottom: 0;
  }
}
