.arrows {
  padding-left: 90px;
  width: 150px;
  img {
    height: 16px;
    width: 10px;
  }
}
.next-arrow,
.prev-arrow {
  border: 1px solid $primary;
  border-radius: $radius;
  margin-bottom: $imageGap;
  width: 60px;
  height: 60px;
  align-items: center;
  display: flex;
  justify-content: space-around;
  &:hover {
    border: 1px solid $secondary;
    cursor: pointer;
  }
  &:focus {
    outline: none;
  }
}
