.arrows {
  margin-left: 100px;
  img {
    height: 16px;
    width: 10px;
    border-radius: 5px;
  }
}
.next-arrow,
.prev-arrow {
  border: 1px solid $primary;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 60px;
  height: 60px;
  align-items: center;
  display: flex;
  justify-content: space-around;
  &:hover {
    border: 1px solid $secondary;
  }
  &:focus {
    outline: none;
  }
}
