.left-side {
  img {
    height: 200px;
    border-radius: $radius;
    scroll-snap-align: start;
  }
}
@mixin wrapper() {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: minmax(max-content, auto);
  overflow-x: hidden;
  gap: $imageGap;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
//top row
.image-wrapper {
  max-width: 1000px;
  @include wrapper();
  &.no-smooth {
    scroll-behavior: auto;
  }
}
//bottom row
.image-wrapper-bottom {
  max-width: 810px;
  @include wrapper();
  &.no-smooth {
    scroll-behavior: auto;
  }
}
//bottom row + arrows
.bottom-row {
  margin-top: $imageGap;
  display: flex;
  flex-direction: row;
}
