.left-side img {
  height: 200px;
  border-radius: $radius;
}
@mixin wrapper() {
  display: grid;
  grid-auto-flow: column;
  gap: $imageGap;
}
//top row
.image-wrapper {
  max-width: 1230px;
  @include wrapper();
}
//bottom row
.image-wrapper-bottom {
  max-width: 1080px;
  @include wrapper();
}
//bottom row + arrows
.bottom-row {
  margin-top: $imageGap;
  display: flex;
  flex-direction: row;
}
