.right-side {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  color: $textColor;
  div {
    width: 310px;
    margin-top: 20px;
    line-height: 26px;
    font-size: 18px;
  }
  h1 {
    color: $secondary;
    height: 120px;
    width: 305px;
  }
}
